<div class="modal fade reportArticleModal" id="reportArticleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Жалоба</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					<select id="reportArticleTypes" class="form-control">
							<option class="form-control" value="" selected disabled>Тип жалобы</option>
							{% for type in reporttypes %}
									<option class="form-control" value="{{ type.codename }}">{{ type.name }}</option>
							{% endfor %}
					</select>
					<textarea id="report-input" placeholder="Текст жалобы" class="form-control"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
				<button type="button" id="btn-send-report" class="btn btn-primary">Отправить жалобу</button>
			</div>
		</div>
	</div>
</div>
