{% extends "wrapper.html" %}
{% load extra_tags %}

{% block title %}
    Профиль пользователя {{page_user_data.username}}
{% endblock %}

{% block content %}
    {% check_perm user_data necessary_perm as checkperm %}
    {% if checkperm %}
        <div class="user_profile">
            <div class="avatar">
                {% if page_user_data.profile.avatar %}
                    <img src="{{MEDIA_URL}}{{page_user_data.profile.avatar}}">
                {% else %}
                    <img src="{{MEDIA_URL}}images/avatars/default.png">
                {% endif %}
            </div>

            <div class="username">
                <h2 class="{{page_user_data.groups.all.0.name}}">{{page_user_data.username}}</h2>
                <p class="group {{page_user_data.groups.all.0.name}}">{{page_user_data.groups.all.0.name}}</p>
            </div>

            <div class="baninfo">
                {% check_ban page_user_data as checkban %}
                {% if checkban.is_banned %}
                    {% check_perm user_data "Users.delete_bans" as checkperm %}
                        {% if checkperm %}
                            <a class="btn btn-lg text-success" id="unbanuser-btn" href="#">Разблокировать</a>
                    {% endif %}

                    <p class="banned_user">Пользователь заблокирован администрацией ({{checkban.data.who_banned}}) до {{checkban.data.pass_datetime}} по причине: {{checkban.data.reason}}</p>
                {% else %}
                    {% check_perm user_data 'Users.add_bans' as checkperm %}
                    {% if checkperm %}
                        <a class="btn btn-lg text-danger" id="banuser-btn" href="#">Заблокировать</a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="user_profile_data">
                {% if page_user_data.first_name or  page_user_data.last_name%}
                <div class="name">Имя: <div class="birthday2">{{page_user_data.last_name}} {{page_user_data.first_name}}</div></div>
                {% endif %}
                {% if page_user_data.profile.birthday_date %}
                <div class="birthday">Дата рождения: <div class="birthday2">{{page_user_data.profile.birthday_date}}</div></div>
                {% endif %}
                {% if page_user_data.profile.rank %}
                <div class="rank">Звание: <div class="rank2">{{page_user_data.profile.rank|safe}}</div></div>
                {% endif %}
                {% if page_user_data.profile.about_me %}
                <div class="about_me1">Обо мне: <div class="about_me2">{{page_user_data.profile.about_me|safe|linebreaks}}</div></div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h3 align="center" class="error text-danger">У Вас нет прав на просмотр профилей пользователей!</h3>
    {% endif %}
{% endblock %}
