 <!DOCTYPE html PUBLIC>
{% load static %}
<html>
    <head>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <!-- JavaScript-->
        <script type="text/javascript" src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/jquery-3.5.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/handler.js' %}"></script>
        <!-- Another things -->
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
        {% block title %}
        {% endblock %} - FockNews
        </title>
        {% include "includes/header.html" %}
    </head>
    <body>
        <div class="main_body">
            {% block content %}
            {% endblock %}
        </div>
        {% if sidebar_data %}
            {% include "includes/sidebar.html" %}
        {% endif %}
        {% include "includes/footer.html" %}
    </body>
</html>
