<aside>
    <div class="aside">
        <div class="side_minprofile">
            <div class="avatar">
                    {% if request.user.profile.avatar %}
                        <img src="{{MEDIA_URL}}{{request.user.profile.avatar}}">
                    {% else %}
                        <img src="{{MEDIA_URL}}images/avatars/default.png">
                    {% endif %}
            </div>
            <div class="username">
                    <h4 class="{{request.user.groups.all.0.name}}">{{request.user.username}}</h4>
                    <p class="group {{request.user.groups.all.0.name}}">{{request.user.groups.all.0.name}}</p>
            </div>
            {% if request.user.profile.rank %}
                    <div class="rank">Звание: <span class="rank2">{{request.user.profile.rank|safe}}</span></div>
            {% endif %}
        </div><hr>

        <div class="side_articles">
            <h6>Статьи, популярные на этой неделе:</h6>
            {% for post in sidebar_data.pop_arts %}
            <div id="side-article{{post.id}}">
                <b class="article_title"><a href="/news/{{post.id}}">{{post.title}}</a></b>
                <h6 class="article_views">Просмотров: {{post.views_num}}</h6><br>
                <h6 class="article_datetime">{{post.pub_datetime|date:"d.m.Y H:i"}}</h6>{% if post.lasted_datetime != NULL %} <span class="btn-link article_lasted_datetime" title="{{post.lasted_datetime|date:'d.m.Y H:i'}}">(ред.)</span> {% endif %}<br>
                <h6 class="article_author"><a href="/users/{{post.author}}"><u>{{post.author}}</u></a></h6>
                <p class="article_tags">{{post.tags}}</p>
                <hr><br>
            </div>
            {% endfor %}
        </div>
    </div>
</aside>