<aside>
    <div class="side_minprofile">
        <div class="avatar">
            {% if request.user.profile.avatar %}
            <img src="{{MEDIA_URL}}{{request.user.profile.avatar}}" alt="Аватар">
            {% else %}
            <img src="{{MEDIA_URL}}images/avatars/default.png" alt="Аватар">
            {% endif %}
        </div>
        <div class="username">
            {% if request.user.is_authenticated %}
            <h4 class="{{request.user.groups.all.0.name}}">{{request.user.username}}</h4>
            <p class="group {{request.user.groups.all.0.name}}">{{request.user.groups.all.0.name}}</p>
            {% else %}
            <h5>Вы не авторизованы!</h5>
            {% endif %}
        </div>
        {% if request.user.profile.rank %}
        <div class="rank">Звание: <span class="rank2">{{request.user.profile.rank|safe}}</span></div>
        {% endif %}
    </div><hr>

    <div class="side_articles">
        <h6 class="side_label">Статьи, популярные на этой неделе:</h6>
        {% for post in sidebar_data.pop_arts %}
        <div class="pop-article" id="pop-article-{{post.id}}">
            <div class="side-article-body">
                <div class="side-article_info">
                    <h6 class="article_author"><a href="/users/{{post.author}}"><u>{{post.author}}</u></a></h6>
                    <b class="article_title"><a href="/news/{{post.id}}">{{post.title|truncatechars:32}}</a></b>
                </div>
                <div class="side_analytics">
                    <h6 class="article_views">Просмотров: {{post.views_num}}</h6><br>
                    <h6 class="article_rating">Рейтинг: {{post.article_rating}}</h6>
                </div>
                <p class="article_tags">{{post.tags}}</p>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="side_articles">
        <h6 class="side_label">Статьи с наибольшим рейтингом:</h6>
        {% for post in sidebar_data.top_arts %}
        <div class="top-article" id="top-article-{{post.id}}">
            <div class="side-article-body">
                <div class="side-article_info">
                    <h6 class="article_author"><a href="/users/{{post.author}}"><u>{{post.author}}</u></a></h6>
                    <b class="article_title"><a href="/news/{{post.id}}">{{post.title|truncatechars:32}}</a></b>
                </div>
                <div class="side_analytics">
                    <h6 class="article_views">Просмотров: {{post.views_num}}</h6><br>
                    <h6 class="article_rating">Рейтинг: {{post.article_rating}}</h6>
                </div>
                <p class="article_tags">{{post.tags}}</p>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</aside>
