{% extends "wrapper.html" %}
{% load extra_tags %}


{% block title %}
    Главная страница
{% endblock %}

{% block content %}

<div class="minarticles">
    {% check_perm user_data "Main.add_articles" as checkperm %}
    {% if checkperm %}
    <div class="create_article_btn">
        <a class="btn btn-lg" href="{% url 'createarticle' %}">
            <label>Создать статью</label>
            <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
            </svg>
        </a>
    </div>
    {% endif %}
    {% if object_list %}
        {% for post in object_list %}
                <div class="minarticle">
                    <h3 class="article_title"><a href="/news/{{post.id}}">{{post.title}}</a></h3>
                    <p class="article_minbody">{{post.body|safe|truncatechars:255}}</p>
                    <h6 class="article_datetime">{{post.pub_datetime|date:"d.m.Y H:i"}}</h6>{% if post.lasted_datetime != NULL %} <span class="btn-link article_lasted_datetime" title="{{post.lasted_datetime|date:'d.m.Y H:i'}}">(ред.)</span> {% endif %}
                    <h6 class="article_author">Опубликовано пользователем <a href="/users/{{post.author}}"><u>{{post.author}}</u></a></h6>
                    <p class="article_tags">{{post.tags}}</p>
                    <hr><br>
                </div>
        {% endfor %}
    {% else %}
        <h2 align="center">Опубликованных статей нет!</h2>
    {% endif %}
</div>
{% endblock %}
